
style.css
.bgc{
    background-color: #0b8595;
  
}
body 
{
    background-color: grey;
}
.sidebar{

}
.mc{
    color: rgb(255, 245, 245);
  background-color: rgb(108, 9, 9);
  text-align: center;
  margin-top: -1px;
  padding: 8px;
  font-weight: 700;
}
